# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jesse.DESKTOP-VFROTGR\Desktop\Programmeren\HARM Server\WorkSpace\SuperiorSkyblock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
